# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Generated platform scaffolding (created by `flutter create .` in CI)
android/
ios/
web/
linux/
macos/
windows/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
